<!DOCTYPE html>
{% load static %} <!--  load images -->
<html lang="en">
<head>
    <meta charset="UTF-8">
 <head>
        <title>MovieMax-Contacts</title> <!--  Page title -->
     <link rel="icon" href="{% static 'images/movielogo.png' %}"> <!--  Website logo -->
    <!--  Css stlye and fonts -->
     <style>
            h2 {
                margin-top: 2px;
                margin-bottom: 2px;
            }
            img {
                width: 120px;
                border: 2px solid black;
                border-radius: 60px;
            }
        </style>
    </head>
    <center>
        <!--  Display outputs -->
        <h1>Contact Us</h1><hr>
        <br>
        <img src="{% static 'images/pup.png' %}" alt="Polytechnic University of the Philippines">
        <h2>Polytechnic University of the Philippines</h2>
        <body>
            1016 Anonas Street, Sta. Mesa, Manila<br>
            inquire@pup.edu.ph<br>
            (632) 5335-1787<br>
            <br>
            <br>
            <b style="font-size: 24px;">BSIT 2-2N</b><br>
            <br>
            <b style="font-size: 20px;">Group 4 Members:</b><br>
            <br>
            <img src="{% static 'images/butch.jpg' %}" alt="Butch C. Cabading"><br>
            <b style="font-size: 18px;">Butch C. Cabading</b><br>
            butchcabading11@gmail.com<br>
            09481765883<br>
            <br>
            <img src="{% static 'images/ian.jpg' %}" alt="Ian Jester V. Aguilar"><br>
            <b style="font-size: 18px;">Ian Jester V. Aguilar</b><br>
            ianxaguilar@gmail.com<br>
            09762374722<br>
            <br>
            <img src="{% static 'images/karl.jpg' %}" alt="Karl Roi C. Marte"><br>
            <b style="font-size: 18px;">Karl Roi C. Marte</b><br>
            martekarlroi@gmail.com<br>
            09217218777<br>
            <br>
            <img src="{% static 'images/kenneth.jpg' %}" alt="Kenneth Brian M. Biag"><br>
            <b style="font-size: 18px;">Kenneth Brian M. Biag</b><br>
            kengbrian17@gmail.com<br>
            09959747295<br>
            <br>
            <img src="{% static 'images/lorenzo.jpg' %}" alt="Lorenzo Antonio Riego"><br>
            <b style="font-size: 18px;">Lorenzo Antonio Riego</b><br>
            lorenzoriego02@gmail.com<br>
            09176404561<br>
            <br>
            <img src="{% static 'images/king.jpg' %}" alt="King Josaiah U. Ulibas"><br>
            <b style="font-size: 18px;">King Josaiah U. Ulibas</b><br>
            josaiahkingulibas@gmail.com<br>
            09771719722<br>
        </body>
    </center>
</html>